<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table >
        <tr>Id</tr>
        <br>
        <tr>Description</tr>
        <br>
        <tr>Address</tr>
        <br>
        <tr>Price</tr>
        <br>
        <tr>Amenities</tr>

    </table>
    <h1>Bookings</h1>

    <form action="">
        <table>
            <tr>
                Name:
                <input type="text">
            </tr>
            <br>
            <tr>
                Email:
                <input type="text">
            </tr>
            <br>
            <tr>
                Arrival:
                <input type="date" name="" id="">
            </tr>
            <br>
            <tr>
                Stay:
                <input type="number" name="" id="">days
            </tr>
        </table>
    </form>
</body>
</html>