<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>

    <form action="/search" method ="get" th:object="${Landing}">
        <table>
            <tr>
                Country: 
                <select name="country" id="country" >
                    <option value="" selected="selected" th:each="country: ${listOfCountries}" th:field="*{country}" th:value="${country}" th:text="${country}">Select Country</option>
                </select>
                <p th:if="${#fields.hasErrors('country')}" th:errorclass="error" th:errors="*{country}" style="color: red;">

            </tr>
            <br>
            <br>
            <tr>
                Number of person:
                <input type="text" th:field="*{numOfPerson}" name="numOfPerson">
            
            </tr>
            <p th:if="${#fields.hasErrors('numOfPerson')}" th:errorclass="error" th:errors="*{numOfPerson}" style="color: red;"></p>
            <br>
            <br>
            <tr>
                Price Range:
                Min <input type="text" name="min" th:field="*{min}"> Max <input type="text" name="max" th:field="*{max}">
                <p th:if="${#fields.hasErrors('min')}" th:errorclass="error" th:errors="*{min}" style="color: red;"></p>
                <p th:if="${#fields.hasErrors('max')}" th:errorclass="error" th:errors="*{max}" style="color: red;"></p>
            </tr>
            <br>
            <br>
            <tr>
                <button>Search</button>
            </tr>
            
        </table>
    </form>
</body>
</html>