<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>Listings for Australia</h1>
    <table border="2">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
            <td></td>
        </tr>
        <tr >
            <div th:each="resultname: ${listofName}">
                <td th:text="${resultname}"></td>
            </div>
         
        </tr>
        <tr th:each="resultprice: ${listofPrice}">
            <td th:text="${resultprice}"></td>
        </tr>
    </table>
</body>
</html>